*{
	padding: 0;
	margin: 0;
	border: 0;
}
body{
	font-family: Arial;
}
header{
	display: block;
	position: relative;
	width: 100%;
	background: #E03960;
}
header nav{
	width: 100%;

}
.navigation-item{
	display: inline-block;
	vertical-align: middle;
	padding: 1.5em;
}
.sub-navigation{
	position: absolute;
	top: 64px;
	background: #333;
	width: 100%;
}
.sub-items{
	list-style: none;
}

